/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #0b0f19;
    padding-left: 200px;
    padding-right: 200px;
}

gradio-app {
    margin: 20px auto;
    max-width: 800px;
    background-color: #0b0f19;
}

.centered-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.centered-image img {
    max-width: 20%; 
    max-height: 20vh; 
}

@media (max-width: 768px) {

    body {
        font-family: Arial, sans-serif;
        background-color: #0b0f19;
        padding-left: 0;
        padding-right: 0;
    }

    
    gradio-app {
        margin: 0;
        max-width: 100%; 
        padding: 0; 
    }

    .centered-image img {
        max-width: 25%;
        max-height: 30vh; 
    }

}
